@tailwind base;
@tailwind components;
@tailwind utilities;

.Vue-Toastification__toast {
  border-radius: 5px !important;
  min-width: 240px !important;
}
.Vue-Toastification__toast-body {
  font-size: 14px !important;
}

.scrollbar {
  overflow-y: scroll;
}
.scrollbar::-webkit-scrollbar {
background: transparent;
width: 4px;
}
.scrollbar::-webkit-scrollbar-track {
background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
background: #808080;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
background: #0f0f0f;
}

.scrollbar-lightbox {
  overflow-y: scroll;
}
.scrollbar-lightbox::-webkit-scrollbar {
background: transparent;
width: 0px;
}
.scrollbar-lightbox::-webkit-scrollbar-track {
background: transparent;
}
.scrollbar-lightbox::-webkit-scrollbar-thumb {
background: #808080;
}
.scrollbar-lightbox::-webkit-scrollbar-thumb:hover {
background: #0f0f0f;
}

html {
  overflow-x: hidden;
  @apply font-thin scrollbar lining-nums bg-purple-900 text-white;
}

.slide-profile-enter-active,
.slide-profile-leave-active {
  transition: all 0.2s ease-in-out;
}

.slide-profile-enter-from,
.slide-profile-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.slide-modal-enter-active,
.slide-modal-leave-active {
  transition: all 0.2s ease-in-out;
}

.slide-modal-enter-from,
.slide-modal-leave-to {
  opacity: 0;
  transform: translateY(20px);
}


.fadeout-enter-active,
.fadeout-leave-active {
  transition: all 0.5s ease-in-out;
}


.galleryAnim-enter-from,
.galleryAnim-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.galleryAnim-enter-active,
.galleryAnim-leave-active {
  transition: all 0.5s ease-in-out;
}

.galleryAnim-enter-active {
  transition-delay: 500ms;
}

.galleryAnim-enter-from,
.galleryAnim-leave-to {
  opacity: 0;
}


.resetButton-enter-from,
.resetButton-leave-to {
  opacity: 0;
  transform: translateY(-20px);
}

.resetButton-enter-active,
.resetButton-leave-active {
  transition: all 0.5s ease-in-out;
}

.resetButton-enter-from,
.resetButton-leave-to {
  opacity: 0;
}